{% extends "base.html"%}

{% block title %} Вопросы по тегу: {{ tag }} {% endblock %}

{% block content %}
{% load static %}

<h3>Вопросы по тегу {{ tag }}:</h3>
{% for question in questions %}
            <div class="question">
               <div class="question-avatar">
                  <img src="../static/img/default_avatar.png" class="rounded-circle question-avatar-img">
               </div>
               <div class="question-like">5 <a href="#"><img src="{% static 'img/like-black.png' %}" class="like-img"></a></div>
               <div class="question-title bot">
                  <a href="{% url 'question' question.id %}">{{ question.title }}</a>   
               </div>
               <div class="question-preview">{{ question.text }}</div>
               <div class="question-answers"><a href="{% url 'question' question.id %}">Ответов: {{ question.count_answers }}</a></div>
               <div class="question-tags">Теги: 
               {% for tag in tags %}
                  <a href="{% url 'questions_by_tag' tag %}"> {{ tag }} </a>
               {% endfor %}
               </div>
               <div class="clearfix"></div>
            </div>
{% endfor %}

{% include "paginator.html" %}

{% endblock %}